@font-face {
    font-family: 'insurance-font';
    src: url('../fonts/insurance-font.eot');
    src: url('../fonts/insurance-font.eot#iefix') format('embedded-opentype'),
        url('../fonts/insurance-font.ttf') format('truetype'),
        url('../fonts/insurance-font.woff') format('woff'),
        url('../fonts/insurance-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ifw-icon-"],
[class*=" ifw-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'insurance-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ifw-icon-columns-1:before {
    content: "\e900";
}

.ifw-icon-columns-2:before {
    content: "\e901";
}

.ifw-icon-columns-3:before {
    content: "\e902";
}

.ifw-icon-columns-4:before {
    content: "\e910";
}
.ifw-icon-transfer:before {
    content: "\e914";
}
.ifw-icon-text:before {
    content: "\e90e";
}
.ifw-icon-image:before {
    content: "\e903";
}
.ifw-icon-button:before {
    content: "\e905";
}
//Margin left for form
form#post {
    margin-top: -40px;
}

#wpwrap {
    #wpbody-content {
        .wp-heading-inline {
            display: none;
        }

        #postbox-container-1 {
            display: none;
        }

        #poststuff {
            padding-top: 0;

            #post-body {
                margin-right: 300px;

                #post-body-content {
                    margin-top: 52px;
                }
            }
        }


    }
}

//Editor bar
#ifw-editor-container {
    background-color: white;

    * {
        box-sizing: border-box;
    }

    #ifw-control-panel {
        position: fixed;
        width: 300px;
        min-width: 300px;
        top: 32px;
        right: 0;
        height: 100%;
        z-index: 99;

        .control-panel-fixed {
            background-color: white;
            box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15);
            margin-right: 1px;
            height: 100%;
            position: relative;

            .menu {
                padding-top: 0;
                margin-bottom: 0;
                border-radius: 0px !important;

                .item {
                    &.active {
                        background: none;
                    }

                    background: rgba(0, 0, 0, 0.05);
                    ;
                }
            }

            .ui {
                &.tab {
                    height: 100%;
                    overflow-y: auto;
                    padding: 0.5rem calc(0.5rem + 4px);

                    .accordion {
                        .content {
                            padding: 0;
                            .layout-wrapper {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: row;

                                .layout {
                                    width: calc(50% - 10px);
                                    margin: auto;

                                    .content-item {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-around;
                                        align-items: center;
                                        margin: 5px 0;
                                        border: 1px solid #bbbbbb;
                                        border-radius: 3px;
                                        height: 90px;
                                        padding: 10px 0;
                                        text-align: center;
                                        color: #666666;
                                        position: relative;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        user-select: none;
                                        .columns-icon {
                                            font-size: 30px;
                                            color: #666666;
                                        }
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }
    }
}

#ifw-editor-content-wrapper {
    #ifw-editor-content {
        margin: 0 auto;
        max-width: 980px;
        min-height: 50px;
        background-color: white;

    }

    .ifw-placehoder {
        height: 3rem;
        line-height: 3rem;
        background-color: rgb(221, 221, 221);
        border: 1px dashed #666666;
    }

    .test {
        display: block;
        height: 3rem;
        width: 100%;
        border: 1px solid #666666;
        margin: 3px 0;
    }
}

.item-is-dragging {
    background-color: rgb(19, 100, 223);
}